@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  @apply p-6 container mx-auto md:grid gap-6 min-h-screen;

  grid-template-columns: 48px auto;
  grid-template-rows: 40px auto;
  grid-template-areas: 'nav main';
  grid-template-areas:
    'nav header'
    'nav body';
}

.btn {
  @apply py-2
    px-4
    font-semibold
    rounded-lg
    shadow-md
    text-white
    bg-white
    bg-opacity-10
    hover:bg-opacity-20;
}

.btn:disabled {
  @apply text-gray-400 bg-opacity-5;
}

.btn-green {
  @apply bg-green-700 hover:bg-green-900;
}

.btn-icon {
  @apply py-2
    px-4
    font-semibold
    rounded-full
    hover:bg-white
    hover:bg-opacity-20;
}

.ship {
  filter: drop-shadow(-3px 2px 2px rgba(0, 0, 0, 0.2));
}
.ship.ship-sunk {
  filter: drop-shadow(-3px 2px 2px rgba(246, 124, 0, 0.2));
}

.ship[data-size='1'] {
  fill: #c73866;
}
.ship[data-size='2'] {
  fill: #f3676e;
}
.ship[data-size='3'] {
  fill: #fd8f52;
}
.ship[data-size='4'] {
  fill: #ffbd71;
}

.shot {
  fill: #403380;
}

.square {
  stroke: #281d4e;
  fill: #5b49b6;
}
.square:hover {
  fill: #493a92;
}
.square:active {
  fill: #372c6d;
}
.square.disabled {
  fill: #584b9b;
}
